<mat-card class="map-card">
  <mat-card-header class="card-header">
    <img src="assets/logo_plum.svg" alt="Logo MAIA" class="maia-logo" />
    <div class="header-content">
      <mat-card-title>Locais de Apoio</mat-card-title>
      <mat-card-subtitle>
        <mat-icon inline>place</mat-icon>
        {{ discovered }}/{{ total }} descobertos
      </mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content class="controls">
    <button
      mat-stroked-button
      *ngFor="let loc of locations"
      (click)="focusLocation(loc)"
    >
      {{ loc.name }}
    </button>
  </mat-card-content>

  <div #leafletContainer class="map-container"></div>
</mat-card>
